body {
    background-color: bisque;
}

#pets {
    display: flex;
    -webkit-flex-flow: row wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    box-shadow:5px 5px 1px;
    border: 1px solid gray;
    margin-right: 40px;
    margin-top: 33px;
    background-color:#F5F5F5;
}

.img {
    justify-content: center;
    height: 300px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 10px;
}

.name {
    border: 1px solid black;
    background-color: lightgrey;
    font: bold;
}

#cat {
    padding: 5px 10px;
    font-size: 30px;
    text-decoration: none;
    color: hsla(0, 0%, 90%, 1);
    background: linear-gradient(rgb(9, 207, 233), rgb(4, 127, 143));
    border-radius: 10px;
    box-shadow: 2px 2px 15px -5px hsla(0, 0%, 0%, 1);
    margin-top: auto;
}

#dog {
    padding: 5px 10px;
    font-size: 30px;
    text-decoration: none;
    color: hsla(0, 0%, 90%, 1);
    background: linear-gradient(rgb(67, 209, 39), rgb(123, 196, 40));
    border-radius: 10px;
    box-shadow: 2px 2px 15px -5px hsla(0, 0%, 0%, 1);
    margin-top: auto;
}

#dino {
    padding: 5px 10px;
    font-size: 30px;
    text-decoration: none;
    color: hsla(0, 0%, 90%, 1);
    background: linear-gradient(hsla(21, 85%, 51%, 1), hsla(21, 85%, 61%, 1));
    border-radius: 10px;
    box-shadow: 2px 2px 15px -5px hsla(0, 0%, 0%, 1);
    margin-top: auto;

}

#all {
    padding: 5px 10px;
    font-size: 30px;
    text-decoration: none;
    color: hsla(0, 0%, 90%, 1);
    background: linear-gradient(rgb(236, 65, 23), rgb(192, 18, 6));
    border-radius: 10px;
    box-shadow: 2px 2px 15px -5px hsla(0, 0%, 0%, 1);
}

.buttons {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.dino {
    background: linear-gradient(hsla(21, 85%, 51%, 1), hsla(21, 85%, 61%, 1));
    padding: 15px 10px;
    font: bold;


}

.cat {
    background: linear-gradient(rgb(9, 207, 233), rgb(4, 127, 143));
    padding: 15px 10px;
    font: bold;


}

.dog {
    background: linear-gradient(rgb(67, 209, 39), rgb(123, 196, 40));
    padding: 15px 10px;
    font: bold;

}

.specialSkill {
margin: 10px;
padding: 15px 10px;
}



